/* #btn{
    color: black;
    background-color:brown;
    height: 100px;
    width: 100px;
    border-radius : 35px;
}


.dark {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
} 
 body {
  min-width: 800px;
}

*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: white;
    align-items: center;
    height: 5 rem;
    line-height: 5rem;


}

.choice{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
    background-color: black;
    
}

.choices{
     display : flex;
     justify-content: center;
     align-items: center;
     gap: 3rem;
     margin-top: 5rem;
    object-fit: cover;
}

img{
    display: flex;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    border-radius: 50%;
}

.score-borad{
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 5rem;
}

p{
    font-size: 2rem;
}


#user-score,#computer-score{
    font-size: 4rem;
    margin-top: 3rem;
   
}

#msg{
    margin-top: 5rem;
    background-color: black;
    color:white;
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 2rem;
}
.msg-container{
   
    margin-top:3rem;  
} */
/* 

#btn {
    width: 200px;
    height: 200px;
    background-color: orange;
} */